.products-display{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.product{
  width: 20%;
  /* text-align: center; */
  margin-top: 15px;
  font-size: 1rem;
}

.main-product-img{
  width: 100%;
  display: block;
}

.product-title{
  padding: 0;
  margin: 18px 0 0;
  font-size: 1em;
  
}

.product-link{
  color: var(--dark-text);
  text-decoration: none;
}



.product-info + .product-info{
  margin-top: 5px;
}
.muted{
  opacity: .5;
}

@media(max-width: 1050px){
  .product{
    margin-top: 7px;
    width: 25%;
  }
}
@media(max-width: 700px){
  .product{
    width: 33.33%;
  }
}


@media(max-width: 500px){
  .product{
    width: 50%;
  }
}


.hide-overflow{
  overflow: hidden;
}
img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
img:hover  {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}